@import "~@fortawesome/fontawesome-free/css/all.css";

@import "~bourbon/core/bourbon"; // Mixins library

@import "~ngx-toastr/toastr";

@import "core/variables";
@import "core/mixins";
@import "~bootstrap/scss/bootstrap";

// Core Components
@import "core/navbar";
@import "core/type";
@import "core/footers";
@import "core/sidebar-and-main-panel";
@import "core/misc";

@import "core/cards";

@import "core/responsive";

body {
  background-color: #e9ecef !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

a {
  cursor: pointer;
}

