<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card card-detail" card-color="blue">
      <div class="card-body card-body-detail">
        <div class="row">
          <div class="card-detail-icon">
            <em class="icon fa fa-globe"></em>
          </div>
          <div class="card-detail-content">
            <h1>500 GB</h1>
            <h2>QUOTA</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card card-detail"  card-color="red">
      <div class="card-body card-body-detail">
        <div class="row">
          <div class="card-detail-icon">
            <em class="icon fa fa-cloud-upload-alt"></em>
          </div>
          <div class="card-detail-content">
            <h1>1700</h1>
            <h2>UPLOAD</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card card-detail" card-color="green">
      <div class="card-body card-body-detail">
        <div class="row">
          <div class="card-detail-icon">
            <em class="icon fab fa-gitlab"></em>
          </div>
          <div class="card-detail-content">
            <h1>100% </h1>
            <h2>Coverage</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="card card-detail" card-color="purple">
      <div class="card-body card-body-detail">
        <div class="row">
          <div class="card-detail-icon">
            <em class="icon fa fa-comments"></em>
          </div>
          <div class="card-detail-content">
            <h1>300</h1>
            <h2>REVIEWS</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>