<div class="main text-center">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h2 class="error_section_subtitle">Opps Page is not available !</h2>
                    <h1 class="error_title col-12">404</h1>
                    <div class="error-actions">
                        <a routerLink='/' class="btn btn-primary btn-lg">
                            <em class="fa em-home"></em>Take Me Home
                        </a>
                        <a href="http://boisarnaud.fr/contactMe" class="btn btn-info btn-lg">
                            <em class="fa fa-envelope"></em> Contact Support
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>